
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.login_Page {
    background-image: url("https://i.pinimg.com/originals/37/8c/d4/378cd4ea61758d6e802d4612b9c76583.jpg");
    background-size: cover;
    height: 100vh;
    padding: 100px;
    
}
.login_heading{
    font-family:roboto;
    font-size: 25px;
    color: black;
    text-decoration: underline;
    text-decoration-color:blueviolet;

}

.loginCardContainer{

    
    background-color:  #ffffff97;
    height: 100%;
    width: 1000px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
}

.Forgot_pass{
    font-family:roboto;
    font-size: 15px;
    color: black;
    text-decoration-color:blueviolet;
}
.Login_image{
    height: 100%;
    width: 500px;
   
    
}

.from-Detail-Card{
    
    padding: 50px;
    padding-top: 90px;
    width: 500px;
    height: 100%;
    


}